In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data/structured_data.csv')
df.dropna(inplace=True)
df.head()

,Unnamed: 0,Temperature_C,Dew_Point_C,Humidity_%,Speed_kmh,Gust_kmh,Pressure_hPa,UV,Solar_w/m2,DateTime
0,0,25.33,16.17,57.0,1.61,14.48,1013.21,7.0,25.886865,2017-03-09 12:00:00
1,1,25.33,16.17,57.0,1.61,14.48,1013.21,7.0,25.886865,2017-03-09 12:05:00
2,2,25.33,16.17,57.0,1.61,14.48,1013.21,7.0,25.886865,2017-03-09 12:10:00
3,3,25.33,16.17,57.0,1.61,14.48,1013.21,7.0,25.886865,2017-03-09 12:15:00
4,4,25.33,16.17,57.0,1.61,14.48,1013.21,7.0,25.886865,2017-03-09 12:20:00

In [4]:
df['Solar_w/m2'].describe()

count    142488.000000
mean          5.810316
std           9.337011
min           0.000000
25%           0.000000
50%           0.333047
75%           8.083968
max          39.239037
Name: Solar_w/m2, dtype: float64

In [19]:
X = df[['Temperature_C', 'Gust_kmh', 'UV']]
y = df.iloc[:, -2]
y.head()

0    25.886865
1    25.886865
2    25.886865
3    25.886865
4    25.886865
Name: Solar_w/m2, dtype: float64

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [21]:
# save the data

X_train.to_csv('data/X_train_structured.csv', index=False)
X_test.to_csv('data/X_test_structured.csv', index=False)
y_train.to_csv('data/y_train_structured.csv', index=False)
y_test.to_csv('data/y_test_structured.csv', index=False)